.body {
    display: grid;
    grid-template-rows: 20vh 80vh;
    background: #1a1a1a;
    color: #f8f40c;
    text-align: center;
    margin: 0;
}

.page__title{
    font-size: 30px;
}

.main {
    padding: 1em 1em 1em 1em;
}

.body__header {
    padding: 1em 1em 1em 1em;
}

.header__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-block: 10px;
    height: 100%;
}

.header__title{
    font-size: 20px;
    padding-top: 10px;
}

.body__button {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: yellow;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.body__button:hover {
    background-color: #374151;
}

.body__button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.body__nav {
    float: left;
    display: none;
    width: 15%;
    height: 100%;
    margin-right: 10px;
}

.main__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1em 1em 1em 1em;
}

.form__label {
    display: flex;
    justify-content: flex-start;
}

.form__input {
    width: 100%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 5px;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form__pick__list__container{
    display: flex;
    justify-content: flex-start;
    gap: 15rem;
}

.form__pick-list {
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.picklist__item {
    padding-top: 15px;
    cursor: pointer;
}

.picklist__title__text{
    font-size: 30px;
}

.picklist__item__text{
    font-size: 20px;
}

.picklist__card{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.picklist__img{
    width: 90px;
    height: 90px;
}

.selected-item {
    background-color: #374151;
}

.header__nav,
nav,
form {
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 5px;
}

@media screen and (min-width: 1440px) {


}