.body__header {
    display: flex;
    justify-content: space-between;
    background-color: #15191C;
    padding: 1em 1em 1em 1em;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
    height: calc(100% - 2em);
}

.header__menu i::before {
    content: "\e5d2";
    color: #FFFFFF;
}

.header__notificacao i::before {
    content: "\e7f4";
    color: #FFFFFF;
}

.header__logo {
    display: initial;
    max-width: 100%;
    width: 8em;
}

@media screen and (min-width: 1440px) {

    .body__header {
        padding: 1em 4.5em 1em 4.5em;
        justify-content: end;
    }

    .header__menu, .header__logo {
        display: none;
    }

}